DJANGO_SECRET_KEY=zet_hier_een_lange_random_secret_key
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=ops.creatorworkboard.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://ops.creatorworkboard.com
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True
SQLITE_PATH=/app/data/db.sqlite3
